@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/StyleSheet.css" rel="stylesheet" />
<div class="jumbotron">
    <h1>RentingGown</h1>
    <p class="lead">האתר שלך לשמלה מושלמת.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <h2 style= "color:rgb(101, 14, 56)">הוספה</h2>
        <p>
            אם את/ה רשום כמשכיר/ה באתר, באפשרותך להוסיף את השמלה שברצונך להשכיר למאגר השמלות. כל משתמש שיחפש שמלות, יוכל להתרשם מהשמלה שלך.
        </p>
       
        <p class="btn btn-default" >@Html.ActionLink("לכניסה >>", "AddGown", "Connection",new { },new {@style= "color:rgb(101, 14, 56)" })</p>
    </div>
    <div class="col-md-4">
        <h2 style= "color:rgb(101, 14, 56)">חיפוש</h2>
        <p> החיפוש הוא חופשי, כל גולש/ת יוכל לחפש בו שמלות שיאהב. אם השמלה/ות מוצאת חן בעיניך, הוספ/י אותה לסל הבגדים שלך, לאחר מכן הרשם כשוכר באתר,ותקבל את פרטי המשכיר. </p>
        <p class="btn btn-default">@Html.ActionLink("לכניסה >>", "Search", "Connection", new { }, new { @style = "color:rgb(101, 14, 56)" })</p>
    </div>
    <div class="col-md-4">
        <h2 style= "color:rgb(101, 14, 56)">הרשמה</h2>
        <p>הרשמ/י כמשכיר/ה באתר, לאחר מכן תוכל/י להוסיף שמלות למאגר בכל עת.</p>
        <p class="btn btn-default">@Html.ActionLink("לכניסה >>", "AddRenter", "Connection", new { }, new { @style = "color:rgb(101, 14, 56)" })</p>

    </div>
</div>