input [type=submit] {
    background: #8d99ae none repeat scroll 0 0;
    border: medium none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    float: left;
    font-family: Oswald;
    font-size: 20px;
    height: 60px;
    margin-top: 10px;
    width: 100%;
        background-color: #d90429 !important;
}